header {
  height: 100vh;
  background: url('../images/header-bg.jpg');
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
}

header .wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  height: 100%;
  padding-bottom: 12vh;
}

.heading-primary {
  color: var(--color-primary);
  font-family: 'Pacifico', cursive;
  font-size: 8vw;
  text-align: center;
  line-height: 0.8;
  max-width: 550px;
  margin-left: 5vw;
}

@media screen and (min-aspect-ratio: 6/4) {

  .heading-primary {
    font-size: 8vw;
    margin-left: 12vw;
  }
}

@media screen and (max-aspect-ratio: 1/1) {

  header {
    background-position: right top;
  }

  header .wrapper {
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    padding-top: 15vh;
  }

  .heading-primary {
    font-size: 20vw;
    max-width: 200px;
    width: 100%;
    margin-left: 0;
  }
}